<div class="main">
    <div class="capa-imgs">
        <img class="capa" src="../../assets/images/Capa 1.png" alt="Capa 1">
    </div>
    <div class="title">
        <h1>CD</h1>
        <h1>LP</h1>
        <h1>DVD</h1>
        <h1>K7</h1>
        <h1>PROMOÇÕES</h1>
    </div>
    <div class="novidade">
        <h1>NOVIDADES</h1>
    </div>
    <div class="novidade-content">
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
        <div class="legenda">
            <img class="content" src="../../assets/images/slipknot album.png" alt="slipknot">
            <figcaption>An elephant at sunset</figcaption>
        </div>
    </div>